<html ng-app="listaTelefonica">
	<head>
        <meta charset="UTF-8"> 
        <title> Lista Telefonica</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            .jumbotron {
                text-align: center;
                width: 500px;
                text-align: center;
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
                }
            .selecionado{
                background-color: yellow;
            }
            .negrito{
                font-weight: bold;
            }
        </style>
        
        <script src="lib/angular/angular.js"> </script>
        <script src="lib/angular/angular-messages.js"> </script>
		<script> 
			angular.module("listaTelefonica",[]);
			angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope){
               $scope.app = "Lista Telefonica";

                $scope.contatos = [
                    {nome: "Pablo", telefone: "98989898988", cor: "red"},
                    {nome: "Vitor Bueno", telefone: "98989898988", cor: "green"},
                    {nome: "Igor Vinicius", telefone: "98989898988", cor: "blue"}
                ];
                $scope.operadoras = [
                    {nome:"Oi", codigo:14, categpria: "Celular"},
                    {nome:"Tim", codigo:15, categpria: "Celular"},
                    {nome:"Claro", codigo:16, categpria: "Celular"},
                    {nome:"Vivo", codigo:17, categpria: "Fixo"}
                ];

                $scope.adcionarContato = function(contato){
                    $scope.contatos.push(contato);
                    delete $scope.contato;
                    $scope.contatoform.$setPristine();
                };

                $scope.ExcluirContato = function(contatos){
                    $scope.contatos =  contatos.filter(function (contato){
                        if (!contato.selecionado) return contato;
                    });

                };

                $scope.isContatoSelecionado = function(contatos){
                    return contatos.some(function(contato){
                        return contato.selecionado;
                    });
                };

                $scope.classe1 = "selecionado";
                $scope.classe2 = "negrito";
			});
		</script>
	</head>
	<body ng-controller="listaTelefonicaCtrl">
		<div class="jumbotron">
            <h4>{{app}}</h4>
            <table class="table" ng-show="contatos.length > 0">
                <tr>
                    <th> </th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Operadora</th>
                    <th> </th>
                </tr>
                <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
                    <td><input type="checkbox" ng-model="contato.selecionado"/></td>
                    <td>{{contato.nome}}</td>
                    <td>{{contato.telefone}}</td>
                    <td>{{contato.operadora.nome}}</td>
                    <td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
                </tr>
            </table>
            <hr>
                <form name="contatoform">
                    <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true"/>
                    <input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true"/>
                    <select class="form-control" ng-model="contato.operadora" name="select_operadora" ng-options="operadora.nome group by operadora.categpria for operadora in operadoras" ng-required="true">
                        <option value="">Operadora </option>
                    </select>
                    <select class="form-control" name="cor" ng-model="contato.cor" ng-required="true" >
                        <option value="blue">Azul </option>
                        <option value="green">Verde </option>
                        <option value="red">Vermelho </option>
                    </select>
                </form>
                <div ng-messages="contatoform.nome.$error" class="alert alert-danger">
                    <div ng-message="required">
                        Por favor preecha o nome para continuar.
                    </div>
                    <div ng-message="required">
                        Por favor preecha o telefone para continuar.
                    </div>
                    <div ng-message="required">
                        Por favor preecha a operadora para continuar.
                    </div>
                    <div ng-message="required">
                        Por favor preecha a cor para continuar.
                    </div>
                </div>
                <button class="btn btn-primary btn-block" ng-click="adcionarContato(contato)" ng-disabled="contatoform.$invalid">Adcionar Contato</button>
                <button class="btn btn-danger btn-block" ng-click="ExcluirContato(contatos)" ng-show="isContatoSelecionado(contatos)">Excluir Contato</button>
        </div>
        <div ng-include="'footer.html'"></div>
	</body>
</html>